mixin addressTile(place)
    //- Presence of special characters (like single quotes) which lead to error. For example, Jorge's coffee.
    div(
        class="bg-white rounded-lg shadow-lg p-8 mb-1 hover:bg-gray-100"
        onclick=`addressTileClickHandler({
            place_id: '${place.place_id.replace(/'/g, "\\'")}',
            lat: '${place.lat}',
            lng: '${place.lng}',
            name: '${place.name.replace(/'/g, "\\'")}',
            address: '${place.address.replace(/'/g, "\\'")}',
            link: '${place.link.replace(/'/g, "\\'")}',
            label: '${place.label.replace(/'/g, "\\'")}'
        })`
    )
        h1(class="text-xl font-bold text-gray-800 mb-4") #{place.name}
        h1(class="text-l font-semibold text-gray-800 mb-4") #{place.label}
        p(class="text-gray-700") #{place.address}
        a(href=place.link class="block underline text-blue-500 break-words") #{place.link}
